@import url("https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .float-label {
    @apply absolute left-1 top-0 translate-y-[-50%] bg-white px-2 text-sm font-semibold text-gray-500 transition-all duration-200 peer-placeholder-shown:top-1/2 peer-placeholder-shown:translate-y-[-50%] peer-placeholder-shown:cursor-text peer-focus:top-0;
  }
}

:root {
  font-family: "Figtree", serif;
  line-height: 1.5;
  font-weight: 400;

  /* --primary: #460E7A; */
  --primaryLight: #3d1df1fb;
  --primaryDark: #220468;
  --primary: #2807a0;
  /* --primary: #2a0948; */
  --foreground: #ffffff;
  --secondary: #1e2ede;
  --accent: #8884ff;
  --rounded: 4px;
  /* #DCCCBB */
  /* --secondary: #E7EBC5; */

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}



/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
  appearance: textfield;
}
